* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #adadad;
}

a:hover {
    color: #00D9DA;
}

ul li {
    list-style: none;
}

.container {
    width: 100%;
    padding: 24px 12px;
    display: flex;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 48px;
    background-color: #c6c6c6;
}

.logo-image {
    width: 25%;
}

.logo-text {
    font-size: 0.7rem;
    color: #000;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    color: #000000;
    margin-left: 20px;
}

.menu ul li a:hover {
    color: #00D9DA;
    margin-left: 20px;
}

.main {
    position: relative;
}

article h1, article h2, article h3 {
    text-transform: uppercase;
}
article h1 {
    font-size: 3rem;
    margin-top: 48px;
    line-height: 3rem;
}

.author-info {
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 12px;
}

article h2 {
    font-size: 1.5rem;
    margin-top: 96px;
}

article h3 {
    font-size: 1rem;
    margin-top: 36px;
}

article ul {
    margin-top: 12px;
}
table {
    width: 100%;
    text-align: center;
    margin-top: 96px;
}

table caption {
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;

}

thead {
    text-transform: uppercase;
    font-size: 1rem;
}

tbody {
    font-size: 1rem;
}

#validation-test {
    margin-top: 96px;
}

.iframe-div {
    margin-top: 24px;
}

.aside {
    /* background-color: lightsalmon; */
    justify-content: space-between;
}

.newsletter {
    margin-top: 72px;
}

form {
    margin-top: 12px;
}

.correlated-articles {
    margin-top: 96px;
}

article h3 {
    margin-top: 36px;
}

.footer {
    /* background-color: lightskyblue; */
    justify-content: space-between;
    margin-top: 72px;
}

@media only screen and (min-width: 961px) {
    .container {
        width: 80%;
        margin: 0 auto;
    }
}