/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Poppins', sans-serif;
}

a, a:visited, a:active{
    color: lightseagreen;
}

a:hover {
    color: purple;
}

.background {
    background-image: url(../img/sfondo.png);
}

.container{
    padding: 30px 15px;
    margin: 0 auto;
    max-width: 300px;
}

.center-item {
    text-align: center;
}

.line-height {
    line-height: 1.5;
}

.margin-bottom {
    margin-bottom: 20px;
}

.tag {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
}

.text-small {
    font-size: 0.9rem;
}

.bold {
    font-weight: bold;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-indent{
    margin-left: 50px;
}

.text-white {
    color: white;
}

.text-grey {
    color: grey;
}

.text-purple {
    color: purple;
}

.text-fuchsia {
    color: fuchsia;
}


.list-style-none {
    list-style: none;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: grey;
}


hr {
    visibility: hidden;
}




/* HEADER */
.header {
    background-color: lightseagreen;
    border: 1px solid black;
}

/* MAIN */

main {
    border: 1px solid black;
}

h1{
    font-size: 1.7rem;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
footer {
    border: 1px solid black;
}