/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 300px;
}

.center-item {
    text-align: center;
}

hr {
    visibility: hidden;
}
a,a:visited,a:hover,a:active{
    text-decoration: none;
    color: black;
}


.background {
    background-image: url(../img/sfondo.png);
}
/* HEADER */
.header {
    background-color: lightseagreen;
    border: 1px solid black;
    padding: 20px;
}

/* .logo{
    margin-top: 20px;
} */

.logo-text{
    margin-top: 20px;
    text-transform: uppercase;
    font-weight:bold;
}

.menu{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
}

nav li{
    margin-bottom: 5px;
    list-style: none;
}

/* da rivedere */


nav li a::before{
    content: '';
}

nav li a::after{
    content: '';
}


/* MAIN */

main {
    padding: 30px 15px ;
    border: 1px solid black;
    background-color: #fff;
}

h1{
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom:20px;
}


.author{
    color: gray;
    margin-bottom: 20px;
}

.paragraph{
    line-height: 1.4;
    margin-bottom: 20px;
}

.tag {
    background-color: grey;
    border: 1px solid black;
    border-radius: 5%;
}
main ul, main ol{
    margin-left: 30px;
}

main li, {
    line-height: 1.4;
}

main i {
    display: inline-block;
}

i + p {
    display: inline-block;
}

strong {
    color: purple;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */

footer {
    border: 1px solid black;
}