/* Your styles here */

/* 
############################################################################################################################################################################################################
PER TESTARE IL LAYOUT E FAR SI CHE FOSSE PIÙ SIMILE POSSIBILE A QUELLO FORNITO, NELL'ISPECTOR HO UTILIZZATO UNA DIMESIONE DI 450PX MENTRE HO TRASCINATO IL LAYOUT FORNITO ALL'INTERNO DI UNA FINESTRA DEL BROWSER ZOOMMATA AL 250% ANNCHE SE PROBABILMENTE IL RISULTATO PIÙ FEDELE POSSIBILE SI SAREBBE OTTENUTO CON UNO ZOOM LEGGERMENTE MAGGIORE NON SELEZIONABILE DA BROWSER.
############################################################################################################################################################################################################
*/

/* 
##################
# GENERAL STYLES #
##################
*/

:root {
    --grey: #393d41;
    --turquoise: #25a2c3;
    --lightgreen: #c8e7f0;
    --white: #fff;
    --black: #000;
    --red: #f04c2f;
    --darkred: #e22d0e;
    --lightgrey: #dee1e3;
}

/* 
########################################################################################################################################################################################################    
DA TRACCIA IL FONT SIZE DEL BODY È DI 1.2REM COME SCRITTO DI SEGUIDO DA DOVER UTILIZZARE PRESUMO PER I PARAGRAFI CHE SONO LA MAGGIOR PARTE DEL TESTO UTILIZZATO NEL SITO MA PER RIMANERE FEDERE AL LAYOUT HO DECISO DI UTILIZZARE TALE DIMESIONE SOLO PER L'H4 SCEGLIENDO DI VOLTA IN VOLTA LA DIMENSIONE SECONDO ME PIÙ ADATTA.   
########################################################################################################################################################################################################    
SE UTILIZZASSI 1.2REM PER I PARAGRAFI DOVREI SOVRADIMENSIONARE O SOTTODIMESIONARE TUTTI I FONT-SIZE DI 0.2REM PER MANTENERE IL GIUSTO RAPPORTO TRA LE VARIE DIMESIONI.    
########################################################################################################################################################################################################
*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    color: var(--grey);
}

/*
#######################################################################################################################################################################################################     
DA TRACCIA L'INTERLINEA PER I VARI HEADINGS È DI 1.5 MA PER RIMANERE PIÙ POSSIBILE FEDELE AL LAYOUT CREDO 1REM SIA IL VALORE OTTIMALE.    
####################################################################################################################################################################################################### 
*/

h1,h2,h3,h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1; 
    color: var(--turquoise);
}

h1 {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 15px;
}

h2 {
    font-size: 2.4rem;
    color: var(--white);
    margin-bottom: 20px;
}

h3 {
    font-size: 1.4rem;
    margin: 35px 0 15px;
}

h4 {
    margin: 20px 0 15px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.center-item {
    text-align: center;
}

/* 
#################
# HEADER STYLES #
#################
*/

header {
    background-color: var(--black);
    padding: 30px 0;
}

#logo {
    max-height: 50px;
}

/* 
###############
# MAIN STYLES #
###############
*/

#section-one {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: 50%;
    padding: 60px 25px 52px;
}

#section-one p {
    margin-bottom: 50px;
}

#cta {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 34px;
    border-radius: 5px;
    background-color: var(--red);
    opacity: 0.7;
    transition: 0.3s;
}

#cta:hover {
    opacity: 1;
}

#cta:active {
    color: var(--white);
    background-color: var(--turquoise);
}

#section-two {
    padding: 30px 25px;
}

.circle-container {
    margin: 0 40px;
}

.circle-container img {
    border-radius: 50%;
}

#section-three {
    color: var(--white);
    background-color: var(--darkred);
    padding: 60px 25px 40px;
}

#section-three h2 {
    margin-bottom: 40px;
}

#section-three p:first-of-type {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 35px;
}

#section-three p:nth-of-type(2) {
    font-size: 1.6rem;
    margin-bottom: 0;
}

#section-three p:nth-of-type(3) {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/* 
################
# ASIDE STYLES #
################
*/

aside {
    padding: 30px 25px 40px;
}

.card {
    border: 1px solid var(--lightgrey);
    border-radius: 5px;
    overflow: hidden;   
    /* NON C'ERA NEL LAYOUT MA HO PREFERITO CHE ANCHE I BORDI SUPERIRI DELLA CARD FOSSERO SMUSSATI PERCIÒ HO AGGIUNTO QUESTA REGOLA */
    max-width: 640px;
    margin: 35px auto;
}

.card p {
    font-size: 1.1rem;
    margin: 0 25px 40px;
}

/* 
#################
# FOOTER STYLES #
#################
*/

footer {
    color: var(--lightgreen);
    background-color: var(--turquoise);
    padding: 50px 0 70px;
}

footer h2 {
    color: var(--white);
    margin-bottom: 30px;
}

footer a {
    color: var(--lightgreen);
}

#contacts p:first-of-type {
    display: inline;
    font-size: 1.2rem;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--white);
}

#contacts {
    margin: 30px 0;
}

#copyright {
    font-size: 1rem;
    margin-top: 60px;
}

/*
#########################################################
# MEDIA QUERY PER SCHERMI DESKTOP AL DI SOPRA DI 1366PX #
#########################################################
*/

@media screen and (min-width:1366px) {

    /* 
    ##################
    # GENERAL STYLES #
    ##################
    */

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.15rem;
    }

    h4 {
        font-size: 0.9rem;
    }
    
    /* 
    #################
    # HEADER STYLES #
    #################
    */

    header {
        display: flex;
    }

    #logo {
        margin-left: 50px;
    }

    /* 
    ###############
    # MAIN STYLES #
    ###############
    */

    #section-one {
        padding: 150px 300px 150px;
        background-position: 0 0;
    }
    #section-one p {
        margin-bottom: 40px;
    }
    
    #cta {
        font-size: 0.8rem;
    }

    #section-two {
        padding: 120px 0 140px 100px;
        text-align: left;
        display: grid;
        grid-template-columns: 1.5fr 1fr 0.5fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "third-item first-item" "third-item second-item" "third-item fourth-item" "third-item fifth-item";
    }

    #section-two h3 {
        margin-top: 0;
    }

    #section-two p {
        font-size: 1.1rem;
        margin-top: 0;
    }

    #section-two div:nth-of-type(1) {
        grid-area: first-item;
    }

    #section-two div:nth-of-type(2) {
        grid-area: second-item;
    }

    #section-two div:nth-of-type(3) {
        grid-area: third-item;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #section-two div:nth-of-type(4) {
        grid-area: fourth-item;
    }

    #section-two div:nth-of-type(5) {
        grid-area: fifth-item;
    }

    #section-three {
        padding: 100px 0;
    }

    #section-three h2 {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }

    #section-three p:first-of-type {
        font-size: 1.8rem;
    }

    #section-three p:nth-of-type(2) {
        font-size: 1.2rem;
    }

    #section-three p:nth-of-type(3) {
        font-size: 0.8rem;
    }

    /* 
    ################
    # ASIDE STYLES #
    ################
    */

    aside {
        display: flex;
        padding: 100px 100px 130px;
        justify-content: center;
    }

    .card {
        margin: 0 15px;
    }

    .card img {
        object-fit:cover;
        overflow: hidden;
        min-height: 20rem;
        aspect-ratio: 4/3;
    }

    .card p {
        font-size: 0.9rem;
        margin: 0 15px 30px;
    }


    /* 
    #################
    # FOOTER STYLES #
    #################
    */

    footer {
        padding: 40px 0 50px;
    }

    footer h2 {
        font-size: 2.8rem;
    }
    
    #contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: center;
    }

    footer a {
        font-size: 1rem;
    }
    
    footer p:first-of-type {
        font-size: 1rem;
    }

    #copyright {
        font-size: 0.8rem;
    }
}

/* 
###################
# END MEDIA QUERY #
###################
*/