* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --litghblue: #8ecae6;
    --turquoise: #219ebc;
    --blue: #023047;
    --yellow: #ffb703;
    --orange: #fb8500;
    --white: #fff;
}

body {
    height: 100vh;
    font-family: 'Livvic', sans-serif;
    background: linear-gradient(45deg, rgba(29, 53, 87, 1) 0%, rgba(69, 123, 157, 1) 35%, rgba(168, 218, 220, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calculator {
    border-radius: 10px;
    width: 22rem;
    overflow: hidden;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

#display {
    background-color: var(--blue);
    text-align: end;
    width: 100%;
    color: var(--white);
    /* color: #d2d2d2; */
    border: 0px;
    font-size: 4rem;
    padding: 0 1rem;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5px;
    /* background-color: #8ecae6; */
}

.key {
    font-size: 1.5rem;
    border: none;
    padding: 1rem 1.25rem;
}

.zero {
    grid-column: span 2;
}

.key:active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3) inset;
    outline: none
}

.operators {
    background-color: var(--turquoise);
}

.result {
    background-color: var(--orange);
}

.addictional-operators {
    background-color: var(--yellow);
}