/* Your styles here */
/* GENERAL STYLES */

:root {
    --grey: #393d41;
    --turquoise: #25a2c3;
    --lightgreen: #c8e7f0;
    --white: #fff;
    --black: #000;
    --red: #f04c2f;
    --darkred: #e22d0e;
    --lightgrey: #dee1e3;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    color: var(--grey);
}

h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: var(--turquoise);
}


/* HEADER STYLES */
header {
    background-color: var(--black);
}

/* MAIN STYLES */
.section-one {
    background-image: url("../images/banner.jpg");
}

.section-one .cta {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: var(--red);
}

.section-three {
    background-color: var(--darkred);
}

/* FOOTER STYLES */
footer {
    color: var(--lightgreen);
    background-color: var(--turquoise);
}

footer h2 {
    color: var(--white);
}

footer a {
    color: var(--lightgreen);
}